.infoBanner {
    display: flex;
    justify-content: center;
    background-color: #960047;
}

.infoBanner em {
    color: white;
}

.customNavbar {
    color: #111110;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    background-color: #faeddf;
}

.customNavbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3em;
    margin: 0;
}

.customNavbar ul>li {
    list-style-type: none;
    margin: 0.5em;
}

a:link, a:visited {
    text-decoration: none;
    color: #111110;
}

a:hover {
    text-decoration: underline;
}

#logo {
    margin-top: 120px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 5em);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    font-size: 5em !important;
}

 /*to do: de pus toate textele din Navbar in elemente 
 de tip "anchor" (<a>)*/
 /* de stilizat toate elementele de tip "anchor" ca sa aiba
  textul de culoarea setata in Navbar #111110*/
  /* de stilizat toate elementele de tip "anchor 
  sa fie subliniate doar cand se face HOVER deasupra lor" */